:root { 
  --black: #000000;
  --geyser: #d9dfeb33;
  --granite-gray: #696969;
  --kingfisher-daisy: #3d00b7;
  --masala: #3c3c3c;
  --white: #ffffff;
 
  --font-size-l: 18px;
  --font-size-m: 14px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 40px;
  --font-size-xxxxl: 48px;
 
  --font-family-anek_kannada: "Anek Kannada", Helvetica;
  --font-family-dm_sans: "DM Sans", Helvetica;
  --font-family-inter: "Inter", Helvetica;
}
